<div class="modal-header">
  <h3 class="modal-title">
    <span class="red">Ajouter une épreuve à l'escape game</span>
  </h3>
</div>
<div class="modal-body">
  <label>
    Sélectionnez un type d'épreuve<br>
    <select name="stepTypeSelect" ng-model="stepTypeSelect">
      <option ng-repeat="stepType in stepTypes" value="{{stepType}}">{{stepType.name}}</option>
    </select>
  </label>
  <div ng-repeat="(arg, name) in parseJson(stepTypeSelect).args track by $index">
    Value: {{name}}
    <label>
      <input ng-model="stepArgsValue[stepCreated][name]" required>
    </label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="addStepModalInstance.close(createNewStep(stepTypeSelect))">
    Ajouter une étape
  </button>
</div>
