<div class="modal-header">
  <h3 class="modal-title">
    <span><b>Ajouter une épreuve à l'escape game</b></span>
  </h3>
</div>
<div class="modal-body">
  <label>
    <select name="stepTypeSelect" ng-model="stepTypeSelect">
      <option disabled selected value> -- Sélectionnez un type d'épreuve -- </option>
      <option ng-repeat="stepType in stepTypes" value="{{stepType}}">{{translate(stepType.name)}}</option>
    </select>
  </label>
  <div ng-repeat="(arg, type) in parseJson(stepTypeSelect).args track by $index">
    <!--arg is the name, type is the type String/int-->
    {{translate(arg)}}:
    <label>
      <input type="{{getInputType(type)}}" ng-model="stepArgsValue[stepCreated]['args'][arg]" required>
    </label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="addStepModalInstance.close(createNewStep(stepTypeSelect))">
    Ajouter une étape
  </button>
</div>
