<div class="modal-header">
  <h3 class="modal-title">
    <span class="green">Vous avez réussi !</span>
  </h3>
</div>
<div class="modal-body">
  <span>Votre temps: {{escapeGameTimeElapsed}}</span><br>
  <span>Durée totale: {{escapeGameTimeLimit}} minutes</span>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="winModalInstance.close(true)">
    Rejouer
  </button>
  <button class="btn btn-success" type="button" ng-click="winModalInstance.close(false)">
    Terminer
  </button>
</div>
