<div class="container" ng-controller="ConfigCtrl">
  <div class="row">
    <div class="col-sm-10 config_table">
      <table class="table">
        <thead>
        <tr>
          <th>Numéro</th>
          <th>Type de l'étape</th>
          <th>Configuration</th>
        </tr>
        </thead>
        <tr ng-repeat="step in escapeGameSteps">
          <td>{{ $index + 1 }}</td>
          <td>{{ translate(step.name) }}</td>
          <td><a class="btn btn-info glyphicon glyphicon-cog" ng-click="configStep($index)"></a>
          <a class="btn btn-danger glyphicon glyphicon-remove" ng-click="removeStep($index)"></a></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-2 sidebutton">
      <a class="btn btn-default" ng-click="setStory()">Définir une histoire d'introduction (facultatif)</a>
    </div>
    <div class="col-sm-2 sidebutton">
      <a class="btn btn-default" ng-click="addStep()">Ajouter une épreuve</a>
    </div>
    <div class="col-sm-2 sidebutton">
      <a class="btn btn-default" ng-click="setTimeLimit()">Définir le temps limite (60 min par défaut)</a>
    </div>
    <div class="col-sm-2 sidebutton">
      <a class="btn btn-poly1" ng-click="playEscapeGame()">Jouer</a>
    </div>
  </div>
</div>
